
    

    <%= form_for @calendar, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <%= f.text_field :event_name %>
      <br>
      <%= f.text_field :event_description %>
      <br>
      <%= date_select :calendar, :start_date %>
      <br><br>
      <%= f.submit "Create" %>
    <% end %>
    


    <p> Select start date </p>
    <%= date_select :variable, :attribute  %>