<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-muted"> <%= "#{@date.strftime("%B")} #{@date.year}" %> </h1>  
    </div>
</div>
    
<h4 class="text-secondary text-center font-weight-light font-italic"> 
    Please click on a date to create an event, or click on the name of an event to see full detail. 
</h4><br>

<h3 class="text-secondary text-center font-weight-light font-italic">
    Calendar from <%= @first_calendar_day.strftime("%B %d, %Y") %> to <%= @last_calendar_day.strftime("%B %d, %Y") %> 
</h3><br>

<table class="table table-bordered">
  <thead>
    <tr class="text-muted font-weight-normal">
      <th  scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %> 
    <% while i < @weeks.length %>
        <tr>
            <% j = 0 %>
                <% while j < @weeks[i].length %>
                    <td><a href="/calendar/new"> <%= @weeks[i][j].mday  %> </a> 
                        <% @calendars.each do |c|  %>
                            <% if c.start_date.mday == @weeks[i][j].mday && c.start_date.mon == @weeks[i][j].mon %>
                                <a href="/calendar/<%= c.id %>" > <%= c.event_name %></a><br>
                            <% end %>
                        <% end %>
                    </td>
                    <% j += 1 %>
                <% end %>
            <% i += 1 %>
        </tr>
    <% end %>
  </tbody>
</table>


